
###**타이타닉 사건 생존자 예측하기**

In [1]:
import pandas as pd
import numpy as np

#사이킷런의 로지스틱 회귀 라이브러리
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

###타이타닉 데이터 불러오기

In [2]:
data = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

data.head(10)

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500
5         0       3  ...                       0   8.4583
6         0       1  ...                       0  51.8625
7         0       3  ...                       1  21.0750
8         1       3  ...                       2  11.1333
9         1       2  ...                       0  30.0708

[10 rows x 8 columns]

Name : 이름</br>
Sex : 성별</br>
Age : 나이</br>
Siblings/Spouses Aboard : 함께 탑승한 형제와 배우자의 수</br>
Parents/Children Aboard : 함께 탑승한 부모와 아이의 수</br>
Fare : 탑승료</br>

###데이터 전처리

In [7]:
#null값 확인

data.isna().sum() # 결측치 없음

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [9]:
#생존 여부에 대한 데이터 분리(label)
label = data['Survived'] # y 역할. 종속변수

#모델 훈련 시 입력 데이터
data.drop(labels=['Name','Survived','Fare'],axis=1,inplace=True) # 모델 학습 시 필요하지 않은 변수 제거.

#성별 데이터를 숫자로 변환
data['Sex']=data['Sex'].map({'male':0 , 'female':1})
data

     Pclass  Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard
0         3    0  22.0                        1                        0
1         1    1  38.0                        1                        0
2         3    1  26.0                        0                        0
3         1    1  35.0                        1                        0
4         3    0  35.0                        0                        0
..      ...  ...   ...                      ...                      ...
882       2    0  27.0                        0                        0
883       1    1  19.0                        0                        0
884       3    1   7.0                        1                        2
885       1    0  26.0                        0                        0
886       3    0  32.0                        0                        0

[887 rows x 5 columns]

In [11]:
#train 데이터와 test 데이터 분리

train_input, test_input, train_label, test_label = train_test_split(data,label,random_state=42)

###모델 생성 및 학습

In [12]:
model = LogisticRegression()

#모델 훈련
model.fit(train_input,train_label) # fit: sklearn의 훈련 메소드

#예측 확인
print(model.predict(test_input))

[0 0 0 0 0 1 0 0 1 1 1 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 1 0 0
 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0
 0 0 1 1 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 1 1
 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0
 0 0 0 1 0 0 1 1 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 1 1 0 1
 0 0 0 0 1 0 1 0 0 1 0 1 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0]

In [14]:
#정확도
print(model.score(train_input, train_label)) # score: 정확도 확인하는 메소드

#가중치(W) 확인 가중치가 클수록 생존확률에 영향을 많이 준다
print(data.head(0))
print(model.coef_) # 가중치에 절대값 해야함

0.8090225563909774
Empty DataFrame
Columns: [Pclass, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard]
Index: []
[[-1.22033116  2.72464598 -0.04117579 -0.38049401 -0.05352015]]

임의의 값 넣어보기 

Jack : 남성, 20세, 3등석 </br>
Rose = 여성, 17세, 1등석</br>

In [20]:
pred = model.predict([[3,1,22,1,2]])

if(pred[0] == 0):
    print('AI : 사망하실 것으로 예측됩니다.\n')
else:
    print('AI : 생존하실 것으로 예측됩니다.\n')

print('생존확률 / 사망확률 : {}'.format(model.predict_proba([[2,1,21,1,2]]) ))

AI : 생존하실 것으로 예측됩니다.

생존확률 / 사망확률 : [[0.17355228 0.82644772]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"