In [2]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [16]:
data = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

data.head(10)

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500
5         0       3  ...                       0   8.4583
6         0       1  ...                       0  51.8625
7         0       3  ...                       1  21.0750
8         1       3  ...                       2  11.1333
9         1       2  ...                       0  30.0708

[10 rows x 8 columns]

In [17]:
# 데이터 전처리
data.isna().sum()
# isna() 숫자가 아닌 값을 찾는 함수

Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

In [18]:
data.isna().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
882    0
883    0
884    0
885    0
886    0
Length: 887, dtype: int64

In [19]:
# target data 분리
label = data['Survived']

# 필요없는 데이터 제거
data.drop(labels=['Name', 'Survived', 'Fare'], axis=1, inplace=True)

# 성별 데이터 이진변환
data['Sex'] = data['Sex'].map({'male':0, 'female':1})

data.head()

   Pclass  Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard
0       3    0  22.0                        1                        0
1       1    1  38.0                        1                        0
2       3    1  26.0                        0                        0
3       1    1  35.0                        1                        0
4       3    0  35.0                        0                        0

In [21]:
# test, train 분리
train_input, test_input, train_label, test_label = train_test_split(data, label, random_state=42)

In [23]:
model = LogisticRegression()

# model 훈련
model.fit(train_input, train_label)

# 예측 확인
print(model.predict(test_input))

[0 0 0 0 0 1 0 0 1 1 1 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 1 0 0
 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 1 0 0
 0 0 1 1 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 1 1
 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0
 0 0 0 1 0 0 1 1 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 1 1 0 1
 0 0 0 0 1 0 1 0 0 1 0 1 0 1 0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0]

In [27]:
# Accuracy
print(model.score(train_input, train_label))

# 가중치, 바이어스
print(data.head(0))
print(model.coef_)

0.8090225563909774
Empty DataFrame
Columns: [Pclass, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard]
Index: []
[[-1.22033116  2.72464598 -0.04117579 -0.38049401 -0.05352015]]

In [30]:
pred = model.predict([[1, 0, 23, 4, 4]])
if pred[0] == 0:
  print('YOU DIED')
else:
  print('YOU WIN')
print('survived / died : {}'.format(model.predict_proba([[1,1,23,2,2]])))

YOU DIED
survived / died : [[0.08963144 0.91036856]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

# 요약
- isna()로 결측치 확인
- predict로 로지스틱 회귀 여측값 확인, label과 비교
- coef_로 가중치와 바이어스 확인